* {
    box-sizing: content-box;
    margin : 0px;
    padding: 0px;
}

nav {
    background-color: #798190;
}

.col-form-label:hover {
    color: #0f0f0f;
    font-weight: bold;
}

.container-fluid {
    background-color: #CEEBFB;
}

body {
    font-family: Raleway, sans-serif !important;
}

.service-form {
    margin-top: 100px;
}

.time-label .card-header{
    padding: 5px !important;
}

footer {
    margin-top: 50px;
}