<<<<<<< HEAD
html {
    height:100%;
=======
* {
    margin : 0px;
    padding: 0px;
>>>>>>> f98e99dd2ef8fde25cb06e935e0e3ef64d565bd5
}

body {
    font-family: Raleway, sans-serif !important;
    background-color: #CEEBFB;
    height: 100%;
}

.container-fluid {
    min-height: 100%;
    position: relative;
}

.navbar {
    background-color: #798190;
}

.main-content {
    margin-top: 120px;
<<<<<<< HEAD
    padding-bottom: 120px;
    margin-bottom: 5px;
=======
    padding-bottom: 80px;
}

.footer {
    bottom: 0;
>>>>>>> f98e99dd2ef8fde25cb06e935e0e3ef64d565bd5
}

footer {
    position: absolute;
<<<<<<< HEAD
    bottom: 0;
    width: 100%;
    height: 70px;
    margin-bottom: 20px;
}

.footer h6,p {
    font-size: 80%;
    color: #6c757d;
}

th {
    text-align: center;
=======
    width: 100%;
    height: 70px;
    padding-bottom: 20px;
>>>>>>> f98e99dd2ef8fde25cb06e935e0e3ef64d565bd5
}

.col-form-label:hover {
    color: #0f0f0f;
    font-weight: bold;
}

.card-label .card-header {
    padding: 5px !important;
}
